h1{
    color:#0D5D1C;
}
h1,h3{
    font-family:georgia;
    text-align:center;
}
p{
    
    line-height:25px;
    font-size:25px;
}
.link{
    text-decoration:none;
    
}
    a:hover{
        text-decoration: underline;
    }
    
.label{
    text-transform:uppercase;
}
.image{
    float:left;
    padding:15px;
}